{% extends 'base.html' %}

{% block content %}
 
<div class="main-content">

  <!--h1>Leader Board</h1-->

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">OtterTune</a>
    </li>
    <li class="breadcrumb-item active">LeaderBoard</li>
  </ol>

  <div class="card">
    <div class="card-header">
      TPCC LeaderBoard
    </div>
    <div class="card-body">

      <table class="table table-striped table-bordered " id="dataTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Rank #</th>
            <th scope="col">User</th>
            <!--th scope="col">Email</th-->
            <th scope="col">Your Settings</th>
            <th scope="col">Throughput</th>
          </tr>
        </thead>

        <tbody>
          {% for lead in leads %}
          <tr>
            {%if lead.username == 'OtterTune'%}
              <td bgcolor="red"><font color="white">{{ forloop.counter }}</font></td>
              <td bgcolor="red"><font color="white">{{ lead.username }}</font></td>
              <td bgcolor="red"><a href="/task_info/{{lead.id}}"><font color="white">OtterTune Settings (ID: {{ lead.email }})</font></a></td>
              <td bgcolor="red"><font color="white">{{ lead.throughput }}</font></td>
            {%elif lead.username == 'Default'%}
              <td bgcolor="gray"><font color="white">{{ forloop.counter }}</font></td>
                <td bgcolor="gray"><font color="white">{{ lead.username }}</font></td>
                <td bgcolor="gray"><a href="/task_info/{{lead.id}}"><font color="white">Default Settings</font></a></td>
                <td bgcolor="gray"><font color="white">{{ lead.throughput }}</font></td>
            {%else%}
              <td>{{ forloop.counter }}</td>
              <td>{{ lead.username }}</td>
              <!--td>{{ lead.email }}</td-->
              <td><a href="/task_info/{{lead.id}}">Task {{lead.id}} Settings</a></td>
              <td>{{ lead.throughput }}</td>
            {%endif%}
          </tr> 
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/static/js/jquery.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="/static/js/jquery.dataTables.js"></script>
<script src="/static/js/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this page-->
<script src="/static/js/sb-admin-datatables.min.js"></script>

{% endblock %}
